<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Exception Handler 사용하기</h1>

<h2>local Exception Handler</h2>
<button onclick="location.href='controller-null'">Null Point Exception Test</button>

<h2>MemberRegistException 처리</h2>
<button onclick="location.href='controller-user'">
    Member Regist Exception
</button>

<hr/>

<h2>Global Exception Handler</h2>
<a href="other-controller-null">Global Exception Handler</a>
<a href="other-controller-user">Global Exception Handler</a>
<a href="other-controller-array">Global Exception Handler</a>

</body>
</html>