<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
    <h1 align="center">제어문</h1>
    <h2>th:if, th:unless</h2>
    <h3>
        th:if 변수 표현식을 활용한 조건식으로 조건문을 작성하면 결과가 true 일 때,
        해당 태그 범위가 처리된다
        th:unless
        변수 표현식을 활용한 조건식으로 조건문을 작성하면 결과가 false 일 때,
        해당 태그 범위가 처리된다
    </h3>
    <p th:if="${num>0}">넘어온 값이 0보다 크다</p>
    <p th:if="${num<0}">넘어온 값이 0보다 작다</p>
    <p th:unless="${num<0}">넘어온 값이 0보다 크다</p>

    <th:block th:if="${str == '사과'}">
        <p>사과는 몸에 조아요 ~!</p>
        <p>편의점 사과 1600 원 ~!</p>
    </th:block>
    <th:block th:if="${str == '바나나'}">
        <p>바나나는 몸에 안조아요 ~!</p>
        <p>편의점 바나나 1600 원 ~!</p>
    </th:block>

    <h3>and 나 or 를 사용해서 다중 조건 처리ㅣ도 가능하다.</h3>
    <p th:if="${num>0 or num <= 10}">1부터 10까지의 양수</p>
    <p th:if="${str != null and str == '바나나'}">바나나~!~!~!</p>

    <h2>th:switch, th:case</h2>
    <h3>th:switch 와 th:case 를 통해 해당 조건 값이 어떤 case 에 해당 되는지에 따라서 태그를 택할 수 있다.</h3>
    <th:block th:switch="${str}">

        <span th:case="사과">사과가 선택 ~!</span>
        <span th:case="바나">빠나나 선택 !</span>
        <span th:case="${str}">바나나 선택 ~!!~~</span>
        <span th:case="*">default 선택임다 ~!</span>
    </th:block>

    <h2>th:each</h2>
    <h3>th:each 를 통해 태그들을 반복할 수 있다.</h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
        </tr>
        <tr th:each="member:${membersList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
        </tr>
    </table>

<h3>th:each 에 stat 을 추가해서 반복상태를 확인할 수 있다.</h3>
    <h3>th:each 에 stat 을 추가하지 않으면, 변수면 + stat 으로 확인할 수 있다.
            stat.index -> memberStat.index
    </h3>
<p>
    index: 0부터 시작하는 인덱스 값<br/>
    count: 1부터 시작하는 값<br/>
    current : 현재 객체의 정보<br/>
    even : 짝수 번째 데이터 여부<br/>
    odd : 홀수 번째 데이터 여부<br/>
    first : 첫 번째 데이터 여부<br/>
    last : 마지막 데이터 여부<br/>
</p>

    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>INDEX</th>
            <th>COUNT</th>
            <th>SIZE</th>
            <th>CURRENT</th>
            <th>EVEN</th>
            <th>ODD</th>
            <th>FIRST</th>
            <th>LAST</th>
        </tr>

        <tr th:each="member, stat:${membersList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.current}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>


</body>
</html>