<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    Thymeleaf 가 제공하는 fragment 문법은 공통 영역을 처리하기 위해서 존재한다..
    일반 웹 페이지의 경우 공통으로 반복되는 영역이 많은데 대표적으로 header, nav, footer, aside 와 같은 영역이다.
    만약 위의 영역을 매번 페이지에 추가하게 되면 nav 가 변경되어야 하는 경우
    반복적인 작업을 페이지 수 만큼 반복해야 할 것이다.
    이러한 문제를 해결하기 위해서 fragment 문법을 이요하여 공통 영역을 처리허여
    번거로운 작업을 해소하며 유지보수에 용이한 코드를 작성할 수 있다..
    // 리액트에서는 컴포넌트만 갈아끼우는건데 이거는 추가후에 리렌더링을 해준다.
    -->
    <header th:fragment="headerFragment" class="header">
<!--        headerFragment 이 이름으로 header 클래스를 다른곳에서도 불어올 수 있게 해주는 거다.-->
        <h1>Header Fragment</h1>
    </header>

</body>
</html>